<%= form_with model: @library, local: true do |form| %>

  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@library.errors.count, "error") %> prohibited
        this library from being saved:
      </h2>
      <ul>
        <% @library.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :number %><br>
    <%= form.text_field :number %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :adress %><br>
    <%= form.text_area :adress %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>