<h1>Список книг</h1>
<table class="table table-bordered table-dark hidden-line">
  <thead>
    <tr class="line-white">
    <th>ID</th>
      <th>Номер</th>
      <th>Имя</th>
      <th>Адрес</th>
    </tr>
  </thead>
  <tbody>
    <% @libraries.each do |library| %>
      <tr>
      <td><%= library.id %></td>
        <td><%= library.number %></td>
        <td><%= library.name %></td>
        <td><%= library.adress %></td>
        <td nowrap style="border: 0px"><%= link_to 'Просмотр', library_path(library), class: "btn btn-primary btn-xs" %>
          <%= link_to 'Редактирование', edit_library_path(library), class: "btn btn-info btn-xs" %>
          <%= link_to 'X', library_path(library),
                method: :delete,
                data: { confirm: 'Удалить?' },
                class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to new_library_path, class:"btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> Новая библиотека
  <% end %>
