<p>
  <strong>Номер:</strong>
  <%= @library.number %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @library.adress %>
</p>

<%= link_to 'Редактирование', edit_library_path(@library), class: "btn btn-info" %> |
<%= link_to 'Назад', libraries_path, class:"btn btn-link" %>