<%= form_with model: @delivery, local: true do |form| %>

  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@delivery.errors.count, "error") %> prohibited
        this delivery from being saved:
      </h2>
      <ul>
        <% @delivery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <div class="form-group row">
    <%= form.label :book_id, class:"col-sm-2 col-form-label" do %> Книга <% end %>
    <div class="col-sm-10">
       <%= form.select :book_id, options_for_select(Book.all.collect{ |s| [s.TitleOfTheBook+', '+s.author, s.id]}), {}, {class: "form-control form-control-lg"}  %>
    </div>
  </div> 

   <div class="form-group row">
    <%= form.label :subscriber_id, class:"col-sm-2 col-form-label" do %> Абонент <% end %>
    <div class="col-sm-10">
     <%= form.select :subscriber_id, options_for_select(Subscriber.all.collect{ |s| [s.surname+' '+s.name+' '+s.patronymic,s.id]}), {}, {class: "form-control form-control-lg"}  %>

    </div>
  </div>

  <div class="form-group row">
    <%= form.label :date_delivery, class:"col-sm-2 col-form-label" do %> Дата выдачи <% end %>
      <div class="col-sm-10">
        <%= form.text_area :date_delivery, class:"form-control" %>
      </div>
  </div>

    <div class="form-group row">
    <%= form.label :date_return, class:"col-sm-2 col-form-label" do %> Дата возврата <% end %>
      <div class="col-sm-10">
        <%= form.text_area :date_return, class:"form-control" %>
      </div>
  </div>

  <p>
    <%= form.submit "Выполнить", class: 'btn-success btn-lg' %>
  </p>

<% end %>