<h1>Список книг</h1>
<table class="table table-bordered table-dark hidden-line">
  <thead>
    <tr class="line-white">
      <th>Книга</th>
      <th>Абонент</th>
      <th>Дата выдачи</th>
      <th>Дата возврата</th>
    </tr>
  </thead>
  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td>
          <% Book.all.find(delivery.book_id) do |book|%>
            <%= book.TitleOfTheBook+', '+book.author%>
          <% end %>
        </td>
        <td>
            <% Subscriber.all.find(delivery.subscriber_id) do |subscriber|%>
              <%= subscriber.surname+' '+subscriber.name+' '+subscriber.patronymic%>
            <% end %>
        </td>
        <td><%= delivery.date_delivery %></td>
         <td><%= delivery.date_return%></td>
        <td nowrap style="border: 0px"><%= link_to 'Просмотр', delivery_path(delivery), class: "btn btn-primary btn-xs" %>
          <%= link_to 'Редактирование', edit_delivery_path(delivery), class: "btn btn-info btn-xs" %>
          <%= link_to 'X', delivery_path(delivery),
                method: :delete,
                data: { confirm: 'Удалить?' },
                class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to new_delivery_path, class:"btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> Новая библиотека
  <% end %>
