<h1>Рейтинг книг в библиотеках</h1>
  <table class="table table-bordered table-dark">
    <thead>
       <tr>
        <td>Имя библиотеки</td>
        <td>1 место</td>
        <td>2 место </td>
        <td>3 место</td>
        <td>4 место</td>
        <td>5 место</td>
        <td>6 место</td>
        <td>7 место</td>
        <td>8 место</td>
        <td>9 место</td>
        <td>10 место</td>
      </tr>
    </thead>
  <tbody>
   <% Library.find_each do |library| %>
   <%# <%Delivery.all.each do |delivery|%> 
   <%# <%Book.includes(:library,:deliveries).each do |book|%>   

   <%# <% Library.includes(delivery: :book_id.find(1).each do |librar|%> 
        <tr>
            <td><%= library.name %></td>

  
        </tr>

     <% end %>
    </tbody>
  </table>
      
<% books=Book.joins(:library, :deliveries) %>
<%=books.count%>


    <%= idBooks=books.joins(:deliveries).group(:book_id).count%>


<%=Library.includes(:book, :deliveries).where(library:{id: 1}) do |s|%>
<%=s.library.id%>

<% end %>