<div class=front>
  <h1>Список библиотек</h1>

  <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th cope="col">Библиотека</th>
      <th cope="col">Название книги</th>
      <th cope="col">Автор</th>
      <th cope="col">Шифр</th>
      <th cope="col">Издательство</th>
      <th cope="col">Цена</th>
      <th cope="col">Дата поступления</th>
    </tr>
    </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.library_id %></td>
        <td><%= book.TitleOfTheBook %></td>
        <td><%= book.author %></td>
        <td><%= book.cipher %></td>
        <td><%= book.publishing_house %></td>
        <td><%= book.price %></td>
        <td><%= book.receipt_date %></td>
        <td>
          <%= link_to 'Просмотр', book_path(book), class: "btn btn-primary btn-xs" %>
          <%= link_to 'Редактирование', edit_book_path(book), class: "btn btn-info btn-xs" %>
          <%= link_to 'X', book_path(book),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, 
                  class: 'btn btn-danger btn-xs' %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to new_book_path, class:"btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> Новая книга
  <% end %>
</div>