  <h1>Список книг</h1>
  <table class="table table-bordered table-dark hidden-line " >
    <thead>
      <tr class="line-white">
      <th cope="col">ID</th>
        <th cope="col">Библиотека</th>
        <th cope="col">Название книги</th>
        <th cope="col">Автор</th>
        <th cope="col">Шифр</th>
        <th cope="col">Издательство</th>
        <th cope="col">Год издания</th>
        <th cope="col">Цена</th>
        <th cope="col">Дата поступления</th>
      </tr>
    </thead>
  <tbody>
    <% @books.find_each do |book| %>
      <tr>
      <td><%= book.id%></td>
        <td>
            <%= Library.all.find(book.library_id).number %> 
            <%= Library.all.find(book.library_id).name %>
        </td>
        <td><%= book.TitleOfTheBook %></td>
        <td><%= book.author %></td>
        <td><%= book.cipher %></td>
        <td><%= book.publishing_house %></td>
        <td><%= book.TheYearOfPublishing %></td>
        <td><%= book.price %></td>
        <td><%= book.receipt_date %></td>
        <td nowrap style="border: 0px">
          <%= link_to 'Просмотр', book_path(book), class: "btn btn-primary btn-xs" %>
          <%= link_to 'Редактирование', edit_book_path(book), class: "btn btn-info btn-xs" %>
          <%= link_to 'X', book_path(book),
                  method: :delete,
                  data: { confirm: 'Удалить' }, 
                  class: 'btn btn-danger btn-xs' %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to new_book_path, class:"btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> Новая книга
<% end %>
   
            
