<div style="font-size:22px">
  <p>
    <strong>Библиотека:</strong>
    <%= @book.library_id %>
  </p>

  <p>
    <strong>Название книги:</strong>
    <%= @book.TitleOfTheBook %>
  </p>

  <p>
    <strong>Автор:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Шифр:</strong>
    <%= @book.cipher %>
  </p>
  <p>
    <strong>Издательство:</strong>
    <%= @book.publishing_house %>
  </p>
  <p>
    <strong>Цена:</strong>
    <%= @book.price %>
  </p>
  <p>
    <strong>receipt_date:</strong>
    <%= @book.receipt_date %>
  </p>

  <%= link_to 'Редактирование', edit_book_path(@book), class: "btn btn-info btn-lg " %> |
  <%= link_to 'Назад', books_path %>
</div>
