<h1>Список книг</h1>
<table class="table table-bordered table-dark hidden-line">
  <thead>
    <tr class="line-white">
      <th>Библиотека</th>
      <th>Номер билета</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Адрес</th>
      <th>Телефон</th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td>
          <%= Library.all.find(subscriber.library_id).number %> 
          <%= Library.all.find(subscriber.library_id).name %>
        </td>
        <td><%= subscriber.ticket %></td>
        <td><%= subscriber.surname %></td>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.patronymic %></td>                
        <td><%= subscriber.adress %></td>
        <td><%= subscriber.phone %></td>
        <td nowrap style="border: 0px"><%= link_to 'Просмотр', subscriber_path(subscriber), class: "btn btn-primary btn-xs" %>
          <%= link_to 'Редактирование', edit_subscriber_path(subscriber), class: "btn btn-info btn-xs" %>
          <%= link_to 'X', subscriber_path(subscriber),
                method: :delete,
                data: { confirm: 'Удалить?' },
                class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to new_subscriber_path, class:"btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> Новый абонент
  <% end %>
